<!DOCTYPE html>
<html>
<head>
	<title>Favorite Numbers</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H2>ENTER YOUR 3 FAVORITE NUMBER(S)</H2>
<form action="show_result" method="post" >
<input field name="num1" placeholder="NUMBER 1">
<input field name="num2" placeholder="NUMBER 2">
<input field name="num3" placeholder="NUMBER 3">
<input type="submit" value="SEND">
</center>
</body>
</html>

