<!DOCTYPE html>
<html>
<head>
	<title>RESULTS</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>ISBN VALIDATOR</H1>
<H2>ENTER A ISBN #</H2>
<form action="isbn_num" method="post" >
<input field name="isbn" placeholder="INSERT HERE">
<input type="submit" value="SEND">
</form>
<H2>ISBN RESULT:</H2>
<form action="show_isbn" method="post" >
<h2><%= num + result%></h2>
<br>
<br>
<br>
</form>
</center>
</body>
</html>