<!DOCTYPE html>
<html>
<head>
	<title>RESULTS</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>CHECK YOUR RESULTS</H1>
<H2>LOTERY RESULT:</H2>
<form action="show_isbn" method="post" >
<h2>Winners <%= result%></h2>
<br>
<br>
<br>
</form>
</center>
</body>
</html>